.custom-search {
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  z-index: 20;

  .title-link {
    text-decoration: none;
    color: inherit;
  }
  .title {
    text-decoration: none;
    color: #999;
    letter-spacing: 6px;
    padding: 14px;
    border: 1px solid #999;
  }

  & > .search-details {
    line-height: 10px;
    display: flex;
    justify-content: space-between;
    color: white;

  }
}

