.search-bar {
    form {
        padding-top: 10px;
    }

    input {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        border: 2px solid black;
        line-height: 2;
    }
}